Options Indexes
AddDefaultCharset iso-2022-jp

AddCharset euc-jp .pl .pm .ph 
AddType text/perl .pl .pm .ph ## This is a willful violation to the MIME spec.

<Files ~ atom>
  ForceType "text/perl; charset=utf-8"
</Files>

AddCharset euc-jp .htt
AddType text/plain .htt

RemoveHandler cgi-script

AddCharset windows-31j .cgi
AddType text/plain .cgi

AddLanguage ja .ja
ReadmeName README

## License: Public Domain.
